
.dropdown-toggle {
    background: linear-gradient(90deg, #FFA500, #FF4500) !important; 
    color: white !important;
    border: none !important;
    border-radius: 25px !important;
    padding: 10px 20px !important;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: bold !important;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

    .dropdown-toggle:hover {
        transform: scale(1.1);
        background: linear-gradient(90deg, #FF6A00, #FFA500) !important;
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); 
    }

.dropdown-menu {
    background-color: black !important; 
    border-radius: 10px !important;
    border: 1px solid #444; 
    padding: 12px !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.3s ease; 
    transform-origin: top center;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scaleY(0.8);
    }

    to {
        opacity: 1;
        transform: scaleY(1);
    }
}

.dropdown-item {
    color: #FFA500 !important; 
    padding: 10px 15px !important; 
    transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease !important; 
    text-align: center; 
    width: 100%;
}

    .dropdown-item:hover {
        background-color: #444 !important; /* Menü öğelerinin hover state (daha koyu gri/siyah) */
        color: #FFF !important; /* Hover state metin rengi (beyaz) */
        transform: scale(1.05);
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Hover state gölge efekti */
    }
